<template>
    <div class="container">
     <b-card-group deck>
      <b-card bg-variant="primary" text-variant="white" header="Randome Joke 1" class="text-center">
        <b-card-text>{{ jokesDev.value}}</b-card-text>
      </b-card>

      <b-card bg-variant="secondary" text-variant="white" header="Random Joke 2" class="text-center">
        <b-card-text>{{ jokesFashion.value}}</b-card-text>
      </b-card>

      <b-card bg-variant="success" text-variant="white" header="Random Joke 3" class="text-center">
        <b-card-text>{{ jokesFood.value}}</b-card-text>
      </b-card>
    </b-card-group>
     <Search />
    </div>
</template>
<script>
import axios from 'axios';
import Search from './Search';

export default {
    components: {
       Search
    },
    data() {
      
        return {
            jokesDev: [],
            jokesFashion: [],
            jokesFood: [],
            categories: []
        }
    },
    methods: {
        
        async getRandomJokeDev() {
            let response = await axios.get('https://api.chucknorris.io/jokes/random?categories=dev');
            this.jokesDev = response.data;
        },
        async getRandomJokeFashion() {
            let response = await axios.get('https://api.chucknorris.io/jokes/random?categories=fashion');
            this.jokesFashion = response.data;
        },
         async getRandomJokeFood() {
            let response = await axios.get('https://api.chucknorris.io/jokes/random?categories=food');
            this.jokesFood = response.data;
        },
         async getCategories() {
            let response = await axios.get('https://api.chucknorris.io/jokes/categories');
            this.categories = response.data;
        },
        
    },
    mounted() {
        this.getRandomJokeDev();
        this.getRandomJokeFashion();
        this.getRandomJokeFood();
    }
}
</script>