<template>
  <b-container fluid>
    <b-row class="my-1">
      <b-col sm="3">
        <label><code>Search</code>:</label>
      </b-col>
      <b-col sm="9">
          <div class="alert alert-danger" v-if="validation.length && searchQuery.length">
             {{ validation}}
          </div>
        <b-form-input @input="isTyping = true" v-model="searchQuery" placeholder="Search a jokes"></b-form-input>
      </b-col>
    </b-row>
    <div align="center" v-if="isLoading">
      <span>Searching...</span>
    </div>
   
   <b-list-group id="itemList">
    <b-list-group-item v-for="item in itemsForList" :key="item">{{item.value }}</b-list-group-item>
  </b-list-group>
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="itemList"
      v-if="hidePage"
      align="center"
    ></b-pagination>
  </b-container>
</template>

<script>
import debounce from 'lodash';
import axios from 'axios';
  export default {
    data() {
      return {
        searchQuery: "",
        isTyping: false,
        searchResult: [],
        isLoading: false,
        hidePage: false,
        perPage: 3,
        currentPage: 1,
        validation:{},
         get itemsForList() {
        return this.searchResult.slice(
            (this.currentPage - 1) * this.perPage,
            this.currentPage * this.perPage,
        );
        },
      }
      
    },
   
     watch: {
    searchQuery: _.debounce(function() {
      this.isTyping = false;
    }, 1000),
    isTyping: function(value) {
      if (!value) {
        this.searchJokes(this.searchQuery);
      }
    }
  },
  methods: {
      
    searchJokes: function(searchQuery) {
      this.isLoading = true;
      axios.get('https://api.chucknorris.io/jokes/search?query=' + searchQuery)
      
        .then(response => {
          this.isLoading = false;
          this.searchResult = response.data.result;
          this.hidePage = true;
          this.validation = {};
        })
        .catch(err => { 
            if(err.response.status === 400) {
                let result = err.response.data.message;
                let start = 13;
                let end = result.length;
                let errorMessage = result.slice(start, end);
                this.validation = errorMessage;
            }
        });
        this.searchResult = '';
        if(this.searchQuery === '')
        {
            this.isLoading = false;
            this.hidePage = false;
            this.validation = {};
        }
    }
  },
  computed: {
      rows() {
          return this.searchResult.length;
      }
  }
  }
</script>